body {
    font-family: 'Comic Sans MS', 'Arial', sans-serif;
    background-color: #FFF8E1;
    color:black;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

form {
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFFFFF; 
    border-radius: 30px; 
}

fieldset {
    border: 8px dashed #aad6fa; 
    padding: 20px;
    border-radius: 15px;
    background-color: #FCE4EC; 
    position: relative;
}

/* Adding a cute floating image for fun */
fieldset:before {
    content: "🌸";
    font-size: 2em;
    position: absolute;
    top: -20px;
    left: 10px;
}

legend {
    color: #0492c2; 
    font-weight: bold;
    font-size:1.3em;
    text-align: center;
    background-color: #FFEBEE; 
    padding: 5px 8px;
    border-radius: 10px;
    border: 2px solid #FFCDD2;
}


table {
    width: 100%;
    margin-top: 5px;
}

td {
    padding: 10px;
    font-size:medium;
}

input[type="text"], input[type="email"], input[type="password"], textarea, select {
    width: 100%;
    padding: 10px;
    border: 2px solid #F48FB1;
    border-radius: 10px;
    background-color: #FFFDE7;
    font-family: 'Comic Sans MS', 'Arial', sans-serif;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 5px;
}


button {
    color: white;
    font-family: 'Comic Sans MS', 'Arial', sans-serif;;
}

label {
    font-weight: bold;
    color: #F06292; 
}

td label {
    font-weight: normal;
    color: #F06292;
}

textarea {
    resize: none;
}


table button {
    width: 120px;
    margin-right: 10px;
}

/* Cute details for radio and checkboxes */
input[type="radio"] + label, input[type="checkbox"] + label {
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 1em;
    color:black; /* Black for the text */
}

select option {
    font-size: 4em; /* Memperbesar font */
}


/* Responsive adjustments */
@media screen and (max-width: 768px) {
    form {
        padding: 15px;
    }

    table tr td:first-child {
        width: auto;
    }

    button {
        width: auto;
        padding: 10px;
    }
}
